---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav><button type="button">hola</button><button type="button">Adiós</button> <nav>
		<h1>Astro</h1>
		<h2 style="text-align: center;background:red; color:white; margin: 30px; border-radius: 10px; padding: 10px;" onclick="alert('Hola mundo desde Astro!')">Hola mundo desde Astro!</h2>
	</body>
</html>
